<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Contacts</key>
	<array>
		<string>Contact me</string>
		<string>rvaler93@gmail.com</string>
		<string>http://github.com/Rvaler</string>
		<string>https://br.linkedin.com/pub/rafael-valer/b7/429/237</string>
		<string>https://www.facebook.com/rafael.valer.1</string>
	</array>
	<key>Skills</key>
	<array>
		<string>Technical Skills</string>
		<string>Working knowledge in programming languages such as C/C++, Objective C, Swift and Ruby.</string>
		<string>Basic knowledge in programming languages such as R, Python and Java.</string>
		<string>Experience in Agile Software Development methodologies such as Scrum and XP.</string>
		<string>Basic knowledge in using big data and machine learning analytics on applications.</string>
	</array>
	<key>Experiences</key>
	<array>
		<string>Experiences</string>
		<array>
			<string>IOs Developer Student - BEPiD</string>
			<string>February 2015 - present</string>
			<string>Student at BEPiD (Brazilian Educational Program of iOS Developers), an innovative program do qualify graduationi students to develop for iOS.</string>
		</array>
		<array>
			<string>Web Developer - MConf</string>
			<string>September 2014 - January 2015</string>
			<string>Worked as web developer in a open source project whose goal is the creation of a Web Conference System.</string>
		</array>
		<array>
			<string>Scientific Initiation Schoolarship - PRAV</string>
			<string>January - September 2014</string>
			<string>Member of the Mobilicare Project, a management system health to pacients with chronic diseases.</string>
		</array>
		<array>
			<string>Scientific Initiation Schoolarship - UFRGS</string>
			<string>February - July 2013</string>
			<string>Development of an urban network that simulated the city traffic problems and created solutions for them.</string>
		</array>
	</array>
	<key>About me</key>
	<array>
		<string>About me</string>
		<string></string>
		<string>Rafael Valer</string>
		<string>23 October, 1993</string>
		<string>Guaporé - Brazil</string>
		<string>Porto Alegre - Brazil</string>
		<string>Studies Computer Science since March 2012 at Universidade Federal do Rio Grande do Sul (UFRGS), one of the best universities of the country.</string>
	</array>
</dict>
</plist>
