<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Schoolarship</key>
	<array>
		<string>Schoolarship</string>
		<string>Universidade Federal do Rio Grande do Sul (UFRGS)</string>
	</array>
	<key>PersonalInformation</key>
	<array>
		<string>About me</string>
		<string></string>
		<string>Rafael Valer</string>
		<string>23 October, 1993</string>
		<string>Guaporé - Brazil</string>
		<string>Porto Alegre - Brazil</string>
	</array>
</dict>
</plist>
