<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>My Projects</key>
	<array>
		<string>My Projects</string>
		<array>
			<string>MOG</string>
			<string>Manage Our Game is a project to develop an app that helps people organize their soccer games. </string>
		</array>
		<array>
			<string>Colaborê</string>
			<string>Porto Alegre is a city with lots of urban problems, with this app it will be possible to people report them to be quickly resolved.</string>
		</array>
		<array>
			<string>Gimme Back</string>
			<string>An application that remembers you about what you have lent or borrowed from other people.</string>
		</array>
	</array>
	<key>Contact me</key>
	<array>
		<string>Contact me</string>
		<string>rvaler93@gmail.com</string>
		<string>http://github.com/Rvaler</string>
		<string>https://br.linkedin.com/pub/rafael-valer/b7/429/237</string>
		<string>https://pt-br.facebook.com/rafael.valer.1</string>
	</array>
	<key>Technical Skills</key>
	<array>
		<string>Technical Skills</string>
		<string>Working knowledge in programming languages such as C/C++, Objective C, Swift and Ruby.</string>
		<string>Basic knowledge in programming languages such as R, Python and Java.</string>
		<string>Experience in Agile Software Development methodologies such as Scrum and XP.</string>
		<string>Basic knowledge in using big data and machine learning analytics on applications.</string>
	</array>
	<key>Experiences</key>
	<array>
		<string>Experiences</string>
		<array>
			<string>iOS Developer Student - BEPiD</string>
			<string>February 2015 - until now</string>
			<string>Student at BEPiD (Brazilian Educational Program of iOS Developers), an innovative program to qualify graduation students in developing for iOS.</string>
		</array>
		<array>
			<string>Web Developer - MConf</string>
			<string>September 2014 - January 2015</string>
			<string>Web developer in an open source project whose goal is to create a Web Conference System.</string>
		</array>
		<array>
			<string>Scientific Initiation Schoolarship - PRAV</string>
			<string>January - September 2014</string>
			<string>Member of the Mobilicare Project, a management system health to pacients with chronic diseases.</string>
		</array>
		<array>
			<string>Scientific Initiation Schoolarship - UFRGS</string>
			<string>February - July 2013</string>
			<string>Development of an urban network that simulates the city traffic problems and creates solutions for them.</string>
		</array>
	</array>
	<key>About me</key>
	<array>
		<string>About me</string>
		<string></string>
		<string>Rafael Valer</string>
		<string>October 23, 1993</string>
		<string>Guaporé - Brazil</string>
		<string>Porto Alegre - Brazil</string>
		<string>Computer Science since March 2012 at Universidade Federal do Rio Grande do Sul (UFRGS).</string>
	</array>
</dict>
</plist>
